<!--<!DOCTYPE html>--><!--加了将不支持frameset-->
<html>

<head>
    <link href="/manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="/icon-512.png" />
    <!--<link rel="Shortcut Icon" href="../../favicon.ico" type="image/x-icon" />-->
    <link rel="icon" href="../../favicon.png" type="image/png" />
    <script src="/pushNotifications.js"></script>
    <title>教与学_本机版_渔琴(Teaching&Learning_LocalVersion_YuQin)</title>
    <script language="javascript">
        function getPort() {
            var sUrl = document.location.href;
            var sPartUrl = sUrl.substring(sUrl.lastIndexOf(":"));
            return sUrl.substring(sUrl.lastIndexOf(":") + 1, sUrl.lastIndexOf(":") + sPartUrl.indexOf("/"));
        }
    </script>
    <script language="javascript">
        var sRunFrom = '<% =sRunFrom %>';
        var sPathContentsNow = '<% =sPathContents %>';
        function fnThanks() {
            //open("autoDeleteHTMLFile.asp");
            try {
                open("thanks.aspx", "_blank", "fullscreen=0,left=127,top=99,toolbar=no,location=no,directories=no,menubar=no,titlebar=no,scrollbars=no,status=no,resizable=1,copyhistory=no,width=" + (screen.width - 224 - 10) + ",height=" + (screen.height - 168 - 30));
            }
            catch (e) {
                window.close();
            }
        }

        function fnOnload() {

            if (screen.height / screen.width == 0.625) {

                window.iNewZoom = screen.width / 1280 * 100;
                document.body.style.zoom = iNewZoom + "%";

            }
            else {

                window.iNewZoom = screen.width / 1024 * 100;
                document.body.style.zoom = iNewZoom + "%";

            }
            document.title = document.title + ":" + getPort();
            document.body.scroll = "no";

        }
        function RequestNotificationSubscriptionAsync() {
            var subscription = blazorPushNotifications.requestSubscription;
            console.log(subscription);
            if (subscription != null) {
                /*
                var request = new HttpRequestMessage(HttpMethod.Put, "notifications/subscribe");
                request.Content = JsonContent.Create(subscription);
                request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", accessToken.Value);
                await HttpClient.SendAsync(request);
                */
            }
        }


    </script>

</head>

<body style="background-color:rgb(0,0,0);border:0px none;padding:0;margin:0;text-align:center;" onload="navigator.serviceWorker.register('service-worker.js');
    RequestNotificationSubscriptionAsync();
    fnOnload(); " onunload="frames('sIframeBook').frames('sIframeContents').fnRemoveUnusedFiles();fnThanks();">
    <table style="border:0px;width:100%;height:100%;border:0px none;padding:0;margin:0;">
        <tr>
            <td style="text-align:center;vertical-align:middle;">
                <table style="width:100%;height:100%;background-color:rgb(255,255,255);border:0px none;padding:0;margin:0;" id="sTableBook">
                    <tr id="sTrTitle">
                        <td style="width:100%;text-align:center" id="sTdTitle">
                            <iframe name="sIframeBook" src="initial.html" marginwidth="0" marginheight="0" height="100%" width="100%" scrolling="no" border="0" frameborder="0">
                                浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。
                            </iframe>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
