@layout WithoutLayout

@page "/HomeWithoutLayout"

<PageTitle>HomeWithoutLayout</PageTitle>

<h1>HomeWithoutLayout,Hello, world!</h1>

HomeWithoutLayout,Welcome to your new app.
<iframe src="/htmlpage.html" width="600" height="400"></iframe>
<iframe src="https://localhost:7132/htmlpage.html" width="600" height="400"></iframe>

<iframe src="https://www.baidu.com" width="600" height="400">
    <p>您的浏览器不支持iframe标签。</p>
</iframe>
