::-webkit-scrollbar { /*还有考虑rameset？被其控制*/
    width: 2px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 2px;
    display: none;
}

body {
    font-size: 16px;
    cursor: text;
    color: rgb(0,102,153); /**0前面有个空格更兼容??*/
    /**background-image:url(background_contents.gif);**/
}

#sDiv {
    cursor: text;
    position: relative;
    left: -20px;
    width: 1024px;
}

li {
    cursor: text;
    color: rgb(0,102,153); /**0前面有个空格更兼容??*/
    list-style-type: none;
}

ul li {
    display: block;
    /* text-indent: 10px;*/
    margin-left: -20px;
}


ul ul li {
    display: block; /**修改为一进入目录全部展开：none改为block*/
    /* text-indent: 10px; */
    margin-left: -20px;
}

a {
    text-decoration: none;
    color: rgb(0,102,153); /**0前面有个空格更兼容??*/
}

a:hover {
position:relative;
left:1px; 
top:1px;
}