@page "/counter_partial_class"
@using Blazor_WebAssembly_PWA_YuQin

<!--
<style>
h1 {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
</style>
-->
<link rel='stylesheet' type='text/css' href="/css/CounterPartialClass.css" />
<PageTitle>Counter</PageTitle>


<h1>Counter</h1>
<h1 style=" color: brown;font-family: Tahoma, Geneva, Verdana, sans-serif;">Scoped CSS Example:@SharedCS.TyrClass.TrySharedProperty</h1>
<h1 style=" color: brown;font-family: Tahoma, Geneva, Verdana, sans-serif;">Scoped CSS Example:@SharedRazorCSLibrary.TryRazorClass.TrySharedProperty</h1>
<h1 style=" color: brown;font-family: Tahoma, Geneva, Verdana, sans-serif;">Scoped CSS Example:@SharedCSLibrary.TryClass.TrySharedProperty</h1>
<p role="status">Current count: @CounterPartialClass.CurrentCount.ToString()</p>
<button class="btn btn-primary" @onclick="CounterPartialClass.IncrementCount">Click me</button>

<p role="status">Current html: @CounterPartialClass.MyHTML</p>
<button class="btn btn-primary" @onclick="CounterPartialClass.ToggleHTML">Click me html</button>

<p role="status">Current raw html: @CounterPartialClass.MyRawHTML</p>
<button class="btn btn-primary" @onclick="CounterPartialClass.ToggleRawHTML">Click me Rawhtml</button>
<p role="status">Current raw html: @CounterPartialClass.MyHTMLContent</p>
<button class="btn btn-primary" @onclick="CounterPartialClass.ToggleMyHTMLContent">Click me HTMLContent</button>
<TryCSSExample></TryCSSExample>